<div class="container">
    <div class="row chat-window col-xs-12 col-md-12" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-body msg_container_base">
                    <div class="row msg_container" ng-repeat="messg in messages">
                        <div class="col-md-2 col-xs-2 avatar" ng-if="!messg.sent">
                            <img src="/resources/images/zyprr-fav.png" class="img-responsive" />
                        </div>
                        <div class="col-md-10 col-xs-10" ng-class="messg.sent ? 'base_sent' : 'base_receive'">
                            <div class="messages" ng-class="messg.sent ? 'msg_sent' : 'msg_receive'">
                                <p ng-if="messg.result.action != 'calendar.event.add'">{{messg.message}}</p>
				                <div ng-if="messg.result.action == 'calendar.event.add'"
				                	 ng-include="'/resources/html/action/addEvent.html'" />
<!--                                 <div ng-if="messg.result.action == 'calendar.event.add'"> -->
<!-- 									<select class="form-control" ng-model="messg.result.parameters.target" -->
<!-- 										ng-options="data.code as data.value for data in targets"> -->
<!-- 									</select>                                 -->
<!--                                 	<input type="text" placeholder="Subject" ng-model="messg.result.parameters.subject" /> -->
<!--                                 	<input type="text" placeholder="When" ng-model="messg.result.parameters.startDate" /> -->
<!--                                 	<input type="text" placeholder="Time" ng-model="messg.result.parameters.startTime" /> -->
<!--                                 	<button type="button" ng-click="submit('calendar.event.add', messg.result.parameters);">Submit</button> -->
<!--                                 </div> -->
                                <time datetime="2009-11-13T20:00">{{timeDiff(messg.time)}}</time>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar" ng-if="messg.sent">
<!--                             <img src="/resources/images/addphoto.png" class="img-responsive" /> -->
                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" ng-model="messg" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="send(messg);">Send</button>
                        </span>
                    </div>
                </div>
    		</div>
        </div>
    </div>
</div>