@font-face {
    font-family: 'icomoon';
    src:    url('spin/icomoon.eot?eqrza');
    src:    url('spin/icomoon.eot?eqrza#iefix') format('embedded-opentype'),
        url('spin/icomoon.ttf?eqrza') format('truetype'),
        url('spin/icomoon.woff?eqrza') format('woff'),
        url('spin/icomoon.svg?eqrza#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-product:before {
    content: "\e900";
}
.icon-spin:before {
    content: "\e901";
}