<div class="formwidget col-lg-12 col-sm-12 col-md-12">
	<div class="form-group pull-left col-lg-12 col-sm-12 col-md-12">
		<label class="col-lg-2 col-sm-2 col-md-2">Down Stream</label>
		<div class="col-lg-2 col-sm-2 col-md-2">
			<select class="form-control" ng-model="messg.result.parameters.target"
				ng-options="data.code as data.value for data in targets">
			</select>
		</div>
		<label class="col-lg-2 col-sm-2 col-md-2">Subject</label>
		<input class="col-lg-4 col-sm-4 col-md-4" type="text" ng-model="messg.result.parameters.subject" />
	</div>                                
	<div class="form-group pull-left col-lg-12 col-sm-12 col-md-12">
		<label class="col-lg-2 col-sm-2 col-md-2">Date&Time</label>
		<input class="col-lg-2 col-sm-2 col-md-2" type="text" placeholder="When" ng-model="messg.result.parameters.startDate" />
		<input class="col-lg-2 col-sm-2 col-md-2" type="text" placeholder="Time" ng-model="messg.result.parameters.startTime" />
		<button class="btn btn-primary pull-right" ng-click="submit('calendar.event.add', messg.result.parameters);">Submit</button>
	</div>                                
</div>